.bg {
  width: calc(100% - 20px);
  height: 250px;
  background-image: url('https://c.pxhere.com/photos/e5/86/laptop_office_home_office_desk_workplace_computer_business_notebook-544885.jpg!d');
  background-size: cover;
  background-position: center;
  padding: 10px;
  text-align: center;
  color: white;
}
p {
  font-size: 16px;
  line-height: 25px;
}
